{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "at-rule-no-unknown": null,
    "function-url-quotes": "always",
    // Codecanyon: Ensure no external URLs without proper licensing
  }
}