<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    failOnRisky="true"
    failOnWarning="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Services</directory>
            <directory>tests/Controllers</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">includes/Modules/AccessibilityScanner/Services</directory>
            <directory suffix=".php">includes/Modules/AccessibilityScanner/Controllers</directory>
            <directory suffix=".php">includes/Modules/AccessibilityScanner/Interfaces</directory>
        </include>
        <exclude>
            <directory suffix=".php">includes/Modules/AccessibilityScanner/Admin</directory>
            <directory suffix=".php">includes/Modules/AccessibilityScanner/Fixes</directory>
            <directory suffix=".php">vendor</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>

    <php>
        <!-- WordPress Test Environment Variables -->
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="./vendor/yoast/phpunit-polyfills"/>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <env name="WP_CORE_DIR" value="/tmp/wordpress/"/>
        
        <!-- Plugin-specific constants -->
        <const name="SLOS_PLUGIN_DIR" value="./"/>
        <const name="SLOS_PLUGIN_FILE" value="./shahi-legalflowsuite.php"/>
        <const name="SLOS_TEST_MODE" value="true"/>
        
        <!-- Disable WordPress external HTTP requests during tests -->
        <const name="WP_HTTP_BLOCK_EXTERNAL" value="true"/>
    </php>

    <logging>
        <testdoxHtml outputFile="tests/results/testdox.html"/>
        <junit outputFile="tests/results/junit.xml"/>
    </logging>
</phpunit>
